.page-header {
  width: 100%;
  height: 88px;
  padding: 0;
  margin: 0;
}

.nav-bar {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;  
}

.nav-item {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #000;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #000;
    margin: 28px;
}

.banner {
    background-color: #00bdc9;
    width: 100%;
    height: 552px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header-img {
    width: 559px;
    height: 368px;
}

.main-body {
    align-items: center;
    width: 80%; margin: 0 auto;
    padding: 40px 0px;
    width: 856px;
    height: 592px; 
    text-align: justify
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 135%;
    text-align: center;
    color: #000;
}

.text {
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    color: #161616;
    font-weight: bold;   
}

.special-text-color {
    font-weight: 600;
    color: #04959e;
}

.text-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
    padding-left: 20px;
}

.button-div {
    padding: 10px;
    width: 165px;
    height: 64px;
    margin: 0 auto;
    display: block; 
}

.btn-learn-more {
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    background: #04959e;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #fff;
    border:none;
}

.footer-content {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 88px; 
}

.footer-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
}




  
  
  
  

